<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>in.kalin.Keybroad</string>
	<string>com.apple.Terminal</string>
	<string>com.apple.calculator</string>
	<string>com.apple.dt.Xcode</string>
	<string>com.googlecode.iterm2</string>
	<string>com.github.atom</string>
	<string>com.microsoft.VSCode</string>
</array>
</plist>
